<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode"
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBarLaunch"
            android:launchMode="singleTask"
            android:exported="true">

        </activity>

        <activity-alias
            android:name=".Look_default"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:label="@string/look_name_default"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".Look_fire"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_fire"
            android:roundIcon="@mipmap/ic_launcher_round_fire"
            android:label="@string/look_name_fire"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".Look_pinklogo"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_pinklogo"
            android:roundIcon="@mipmap/ic_launcher_round_pinklogo"
            android:label="@string/look_name_pinklogo"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".Look_purple"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_purple"
            android:roundIcon="@mipmap/ic_launcher_round_purple"
            android:label="@string/look_name_purple"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".Look_backlog"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_backlog"
            android:roundIcon="@mipmap/ic_launcher_round_backlog"
            android:label="@string/look_name_backlog"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".Look_bingelog"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_bingelog"
            android:roundIcon="@mipmap/ic_launcher_round_bingelog"
            android:label="@string/look_name_bingelog"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".Look_checklist"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_checklist"
            android:roundIcon="@mipmap/ic_launcher_round_checklist"
            android:label="@string/look_name_checklist"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".Look_listkeeper"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_listkeeper"
            android:roundIcon="@mipmap/ic_launcher_round_listkeeper"
            android:label="@string/look_name_listkeeper"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".Look_myfiles"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_myfiles"
            android:roundIcon="@mipmap/ic_launcher_round_myfiles"
            android:label="@string/look_name_myfiles"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".Look_mylists"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_mylists"
            android:roundIcon="@mipmap/ic_launcher_round_mylists"
            android:label="@string/look_name_mylists"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".Look_mywatchlist"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_mywatchlist"
            android:roundIcon="@mipmap/ic_launcher_round_mywatchlist"
            android:label="@string/look_name_mywatchlist"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".Look_notes"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_notes"
            android:roundIcon="@mipmap/ic_launcher_round_notes"
            android:label="@string/look_name_notes"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".Look_reminders"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_reminders"
            android:roundIcon="@mipmap/ic_launcher_round_reminders"
            android:label="@string/look_name_reminders"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".Look_splash"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_splash"
            android:roundIcon="@mipmap/ic_launcher_round_splash"
            android:label="@string/look_name_splash"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".Look_squid"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_squid"
            android:roundIcon="@mipmap/ic_launcher_round_squid"
            android:label="@string/look_name_squid"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".Look_towatch"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_towatch"
            android:roundIcon="@mipmap/ic_launcher_round_towatch"
            android:label="@string/look_name_towatch"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".Look_tracker"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_tracker"
            android:roundIcon="@mipmap/ic_launcher_round_tracker"
            android:label="@string/look_name_tracker"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".Look_vault"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_vault"
            android:roundIcon="@mipmap/ic_launcher_round_vault"
            android:label="@string/look_name_vault"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".Look_watchlist"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_watchlist"
            android:roundIcon="@mipmap/ic_launcher_round_watchlist"
            android:label="@string/look_name_watchlist"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".Look_capacitor"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_capacitor"
            android:roundIcon="@mipmap/ic_launcher_round_capacitor"
            android:label="@string/look_name_capacitor"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".Look_calculator"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_calculator"
            android:roundIcon="@mipmap/ic_launcher_round_calculator"
            android:label="@string/look_name_calculator"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".Look_freeotp"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_freeotp"
            android:roundIcon="@mipmap/ic_launcher_round_freeotp"
            android:label="@string/look_name_freeotp"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".Look_termux"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_termux"
            android:roundIcon="@mipmap/ic_launcher_round_termux"
            android:label="@string/look_name_termux"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

    <!-- Permissions -->

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
